html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure {
  width: 320px;
  height: 500px;
  padding: 16px;
  text-align: center;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 3px 20px -5px hsl(0, 0%, 75%);
}

img {
  width: 100%;
  border-radius: 10px;
}

figcaption {
  padding: 20px 15px 0;
}

figcaption h2 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 15px;
}

figcaption p {
  color: hsl(230, 3%, 53%);
}